@model HealthMonitorApp.ViewModels.ApiGroupViewModel

@{
    ViewBag.Title = "API Group Details";
    Layout = "_Layout";
}

<style>
    .details-container {
        max-width: 500px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
    }
    .detail-item {
        margin-bottom: 10px;
    }
    .detail-title {
        font-weight: bold;
    }
    .encrypted-value {
        font-family: 'Courier New', Courier, monospace; /* Gives a monospace font */
        letter-spacing: 0.1em; /* Optional: increases spacing between characters */
    }
</style>

<div style="text-align: center" class="details-container">
    <h2 style="text-align: center;">API Group Details</h2>

    <div class="detail-item">
        <span class="detail-title">Name:</span> @Model.ApiGroup.Name
    </div>
    
    @if (Model.Variables.Count > 0)
    {
        <h5>Variables</h5>
        
        foreach (var variable in Model.Variables)
        {
            <div class="detail-item">
                <input style="text-align: center;" disabled="disabled" value="@variable.Name" class="text"/> = 
                <input style="text-align: center;" disabled="disabled" type="password" class="encrypted-value" value="@variable.Value"/>
            </div>
        }
    }

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
