@model HealthMonitorApp.ViewModels.RepositoryCreateViewModel
<style>
</style>

<form asp-action="Create" style="max-width: 500px; margin: auto;">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Url">URL</label>
        <input asp-for="Url" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Branch">Branch</label>
        <input asp-for="Branch" class="form-control"/>
    </div>

    <!-- Checkbox for API Base URL -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hasBaseUrlCheckbox">
        <label class="form-check-label" for="hasBaseUrlCheckbox">
            Has Base URL?
        </label>
    </div>
    <div class="form-group d-none" id="BaseUrlGroup">
        <label asp-for="BaseUrl">Base Url</label>
        <input asp-for="BaseUrl" class="form-control"/>
        <!-- Checkbox for endpoint integration -->
        <div class="form-check" style="padding-left: 2.5em">
            <input class="form-check-input" type="checkbox" id="IntegrateEndpoints" asp-for="IntegrateEndpoints">
            <label class="form-check-label" for="IntegrateEndpoints" asp-for="IntegrateEndpoints">
                Integrate EndPoints?
            </label>
        </div>
    </div>

    <!-- Checkbox for Credentials -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hasCredentialsCheckbox">
        <label class="form-check-label" for="hasCredentialsCheckbox">
            Has Credentials?
        </label>
    </div>
    <div class="form-group d-none" id="UsernameGroup">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control"/>
    </div>
    <div class="form-group d-none" id="PasswordGroup">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" type="password"/>
    </div>
    <!-- Checkbox for ExcludedControllers -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ExcludedControllersCheckBox">
        <label asp-for="ExcludedControllers" class="form-check-label" for="ExcludedControllersCheckBox">
            Should have excluded controllers?
        </label>
    </div>
    <div class="form-group  d-none" id="ExcludedControllersGroup">
        <div id="ExcludedControllers-container">
            <input asp-for="ExcludedControllers" class="form-control ExcludedControllers" rows="4" name="ExcludedControllers">
        </div>
    </div>
    <!-- Checkbox for ExcludedMethods -->
    <div class="form-check">
        <input class="form-check-input"  type="checkbox" id="ExcludedMethodsCheckBox">
        <label asp-for="ExcludedMethods" class="form-check-label"  for="ExcludedMethodsCheckBox">
            Should have excluded methods?
        </label>
    </div>
    <div class="form-group  d-none" id="ExcludedMethodsGroup" >
            <div id="ExcludeMethods-container">
                <input asp-for="ExcludedMethods" class="form-control ExcludedMethods" rows="4" name="ExcludedMethods">
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
document.getElementById('hasCredentialsCheckbox').addEventListener('change', function() {
    let isChecked = this.checked;
    document.getElementById('UsernameGroup').classList.toggle('d-none', !isChecked);
    document.getElementById('PasswordGroup').classList.toggle('d-none', !isChecked);
});

document.getElementById('hasBaseUrlCheckbox').addEventListener('change', function() {
    let isChecked = this.checked;
    document.getElementById('BaseUrlGroup').classList.toggle('d-none', !isChecked);
    });

document.getElementById('ExcludedControllersCheckBox').addEventListener('change', function() {
    let isChecked = this.checked;
    document.getElementById('ExcludedControllersGroup').classList.toggle('d-none', !isChecked);
    });

document.getElementById('ExcludedMethodsCheckBox').addEventListener('change', function() {
    let isChecked = this.checked;
    document.getElementById('ExcludedMethodsGroup').classList.toggle('d-none', !isChecked);
    
});
</script>